.profile-settings
{
    width: 100%;
    border: 1px solid var(--clr-gray-2-5);
    border-radius: 10px;
    padding: 15px;
    color: var(--clr-dark-state-gray);

    &-inner
    {
        padding: 15px;

        .form-skeleton
        {
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .submit-skeleton
        {
            padding: 15px;
            width: 200px;

            @media screen and (max-width: 480px){
                width: 100%;
            }
        }

        .form-item-submit
        {
            display: flex;
            justify-content: end;

            @media screen and (max-width: 480px){
                display: block;

                .button-submit
                {
                    width: 100%;
                }
            }
        }
    }
}