.section-cart
{
    padding: 20px 0;

    .cart-inner
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .cart-block
    {
        display: flex;
        justify-content: space-between;
        gap: 25px;

    }

    .cart-list
    {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .cart-order
    {
        min-width: 264px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 1px solid var(--clr-gray-2-5);
        border-radius: 10px;
        padding: 15px;
        color: var(--clr-dark-state-gray);

        span
        {
            color: var(--clr-dark-state-gray);
        }

        .order-title
        {
            font-size: 16px;
            line-height: 21px;
            font-weight: normal;
        }

        .order-total
        {
            display: flex;
            justify-content: space-between;

            input
            {
                border: none;
                text-align: end;
                color: var(--clr-dark-state-gray);
                font-size: 16px;
                line-height: 21px;
            }
        }

        .order-list
        {
            display: flex;
            flex-direction: column;
            gap: 15px;

            li
            {
                padding: 12px 0;
                text-align: center;
                font-size: 10px;
                line-height: 14px;
                background-color: var(--clr-gray-2-5);
                border-radius: 10px;
                text-wrap: nowrap;
            }
        }

        .order-button
        {
            padding: 8px 0;
            background-color: var(--clr-orange);
            color: var(--clr-white);
            font-size: 16px;
            line-height: 21px;
            border-radius: 10px;
        }
    }
}