.header__bottom-left
{
    display: flex;
    align-items: center;
    gap: 30px;

    .bottom-left__catalog
    {
        position: relative;

        .catalog-button
        {
            cursor: pointer;
            border: 2px solid;
            border-color: var(--clr-light-blue);
            padding: 8px 35px;
            border-radius:  9999px;
            letter-spacing: 0.05em;
            font-size: 20px;
            line-height: 28px;
            color: var(--clr-dark-state-gray);
            
            transition: border-color 150ms;

            &:hover
            {
                border-color: var(--clr-light-blue-2);
            }
        }

        .catalog-nav
        {
            position: absolute;
            width: 200%;
            z-index: 60;
            padding: 20px;
            left: 0;
            top: 110%;
            border: 2px solid var(--clr-light-blue);
            border-radius: 10px;
            background-color: var(--clr-white);
        }
    }
}