.head-title
{
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: var(--clr-dark-state-gray);
    height: 100%;

    @media screen and (max-width: 786px) {
        font-size: 24px;
        line-height: 32px;
    }

    @media screen and (max-width: 480px) {
        font-size: 20px;
        line-height: 28px;
    }
    
    .title-inner
    {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 10px;
    }


    .link
    {
        display: flex;
        height: 100%;
        align-items: center;

        &.sub-sub-title
        {
            @media screen and (max-width: 480px) {
                display: none;
            }
        }
        
        span
        {
            height: 100%;
            color: var(--clr-dark-state-gray);
        }
    }
    
    .icon
    {
        color: var(--clr-dark-state-gray);
        height: 100%;
        font-size: 30px;

        &.sub-sub-title
        {
            @media screen and (max-width: 480px) {
                display: none;
            }
        }

        @media screen and (max-width: 480px) {
            font-size: 24px;
            line-height: 31px;
        }
    }
}