.profile-user
        {
            max-width: 271px;
            min-width: 200px;
            width: 100%;
            border: 1px solid var(--clr-gray-2-5);
            border-radius: 10px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            @media screen and (max-width: 768px) {
                max-width: 100%;
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
            }

            @media screen and (max-width: 565px) {
                max-width: 100%;
                width: 100%;
                flex-direction: column;
                justify-content: space-between;
            }

            .user-fullname
            {
                color: var(--clr-dark-state-gray);
                font-size: 25px;
                line-height: 35px;
                text-align: center;
                font-weight: 600;
                text-transform: capitalize;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .user-icon
                {
                    font-size: 40px;
                }

                @media screen and (max-width: 768px) {
                    flex-direction: row;
                    justify-content: start;
                }
            }

            .profile-menu
            {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 15px;

                @media screen and (max-width: 768px) {
                    flex-direction: row;
                }

                .menu-item
                {
                    background-color: var(--clr-gray-2-5);
                    border-radius: 10px;
                    padding: 8px 0;
                    transition: background 150ms;

                    @media screen and (max-width: 565px) {
                        max-width: 100%;
                        width: 100%;
                    }

                    @media screen and (max-width: 768px) {
                        padding: 8px 20px;
                    }

                    &:hover
                    {
                        background-color: var(--clr-gray-2-6);
                    }

                    &.active
                    {
                        background-color: var(--clr-gray-2-6);
                    }

                    span
                    {
                        font-size: 14px;
                        line-height: 20px;
                        width: 100%;
                        text-align: center;
                        color: var(--clr-dark-state-gray);

                        @media screen and (max-width: 480px) {
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }
                }
            }
            .logout-button
            {
                background-color: var(--clr-gray-2-5);
                border-radius: 10px;
                padding: 8px 0;
                transition: background 150ms;

                @media screen and (max-width: 768px) {
                    padding: 8px 20px;
                }

                
                &:hover
                {
                    background-color: var(--clr-gray-2-6);
                }

                span
                {
                    color: var(--clr-dark-state-gray);
                    font-size: 14px;
                    line-height: 20px;
                    width: 100%;
                    text-align: center;

                    @media screen and (max-width: 480px) {
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
        }