.section-aside
{
    display: none;

    @media screen and (max-width: 768px) {
        display: block;
    }
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    background-color: var(--clr-white);
    position: fixed;
    
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 50;
    // border-top: 2px solid var(--clr-gray-2-5);

    .aside-nav
    {
        // min-h-20 flex items-center gap-5 sm:gap-10 justify-between px-5 sm:px-10
        // display: flex;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        gap: 20px;
        padding: 0 20px;

        .nav-item
        {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            @media screen and (max-width: 480px) {
                padding: 10px 0;
            }

            span
            {
                color: var(--clr-dark-state-gray);
            }

            &.active
            {
                span
                {
                    color: var(--clr-orange);
                }
            }

            .title
            {
                text-transform: capitalize;
                font-size: 14px;
                line-height: 20px;
                text-wrap: wrap;

                @media screen and (max-width: 480px) {
                    font-size: 12px;
                    line-height: 16px;
                }
            }

            .icon
            {
                font-size: 24px;
                line-height: 31px;

                @media screen and (max-width: 480px) {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
    }
}