.app
{
    --clr-orange: #E57351;
    --clr-white: #FFFFFF;
    --clr-gray-1: #F3F4F6;
    --clr-gray-2: #E5E7EB;
    --clr-gray-3: #6B7280;
    --clr-light-blue: #B8CAD5;
    --clr-light-blue-2: #9CA3AF;
    --clr-dark-state-gray: #425463; 
}