.header__bottom-right
{

    display: flex;
    align-items: center;
    gap: 25px;

    @media screen and (max-width: 768px) {
        display: none;
    }

    .bottom-right__link
    {
        position: relative;

        span
        {
            position: absolute;
            right: 0;
            top: 0;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: var(--clr-orange);
            transform: translate(50%, -50%);
        }

        .fill
        {
            display: none;
        }

        .stroke
        {
            display: block;
        }

        &.active
        {
            .fill
            {
                display: block;
            }

            .stroke
            {
                display: none;
            }
        }
    }

    .bottom-right__icon
    {
        cursor: pointer;
        font-size: 24px;
        line-height: 32px;
        color: var(--clr-dark-state-gray);
    }
}