.section-details
{
    padding: 20px 0;

    .details-inner
    {
        .details-head
        {
            padding-top: 15px;
            display: flex;
            gap: 15px;

            @media screen and (max-width: 768px) {
                flex-direction: column;
                gap: 15px;
            }
        }
    }
}