.product-card
{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--clr-white);
    // width: 265px;

    overflow: hidden;
    transition: all 150ms;

    &:hover
    {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }

    a
    {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    &__like
    {
        position: absolute;
        right: 12px;
        top: 8px;
        z-index: 50;

        @media screen and (max-width: 480px) {
            right: 15px;
            top: 10px;
        } 
    }

    &__img
    {
        min-height: 270px;
        max-height: 275px;
        height: 100%;
        display: block;
    }

    &__info
    {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 5px 15px 15px 15px;

        .card-title
        {
            font-size: 16px;
            line-height: 24px;
            font-weight: normal;
            text-overflow: ellipsis;
            overflow: hidden;
            text-wrap: nowrap;
        }

        .card-shop
        {
            display: flex;
            justify-content: space-between;
            align-items: end;
            padding-right: 8px;
            

            &__price
            {
                display: flex;
                flex-direction: column; 
                font-size: 20px;
                line-height: 28px;
                gap: 5px;

                @media screen and (max-width: 768px) {
                    font-size: 18px;
                    line-height: 28px;
                }

                @media screen and (max-width: 480px) {
                    font-size: 16px;
                    line-height: 24px;
                }


                span
                {
                    color: var(--clr-gray-3);
                    text-decoration: line-through;
                    font-size: 16px;
                    line-height: 24px;
    
                    @media screen and (max-width: 480px) {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

}