.product-like
{

    .icon-like
    {
        font-size: 20px;
        transition: transform 150ms, color 150ms;

        @media screen and (max-width: 480px) {
            font-size: 22px;
        }  

        &:active
        {
            transform: scale(0.75);
        }

        &.fill
        {
            color: var(--clr-orange);
        }
    }
}