.details-info
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    color: var(--clr-dark-state-gray);
    min-height: 100%;
    width: 100%;

    @media screen and (max-width: 768px) {
        gap: 15px;
    }
    
    @media screen and (max-width: 480px) {
        gap: 10px;
    }

    .info-title
    {
        font-size: 48px;
        line-height: 64px;
        padding: 5px 0;
        font-weight: normal;

        @media screen and (max-width: 953px) {
            font-size: 42px;
            line-height: 64px;
        }
        
        @media screen and (max-width: 768px) {
            font-size: 36px;
            line-height: 40px;
        }
        
        @media screen and (max-width: 480px) {
            font-size: 30px;
            line-height: 36px;
        }

        border-bottom: 1px solid var(--clr-gray-border);
    }

    .info-subtitle
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        .info-seller span,
        .info-order span
        {
            color: var(--clr-gray-3);
            font-size: 16px;
            line-height: 24px;

            @media screen and (max-width: 768px) {
                font-size: 14px;
                line-height: 20px;
            }
            
            @media screen and (max-width: 480px) {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }

    .info-views-title,
    .info-materials-title,
    .info-views-title span,
    .info-materials-title span
    {
        font-size: 20px;
        line-height: 28px;
        font-weight: bold;
        text-transform: capitalize;

        @media screen and (max-width: 768px) {
            font-size: 18px;
            line-height: 28px;
        }
        
        @media screen and (max-width: 480px) {
            font-size: 16px;
            line-height: 24px;
        }
    }
    
    .info-count
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 10px;

        .count-title
        {
            font-size: 20px;
            line-height: 28px;
            font-weight: bold;

            @media screen and (max-width: 768px) {
                font-size: 18px;
                line-height: 28px;
            }
            
            @media screen and (max-width: 480px) {
                font-size: 16px;
                line-height: 24px;
            }
        }

        .count-block
        {
            display: flex;
            align-items: center;
            gap: 20px;

            .button-count
            {
                width: 220px;
                padding: 5px 8px;

                @media screen and (max-width: 768px) {
                    width: 150px;
                    padding: 0;
                }
            
                @media screen and (max-width: 480px) {
                    width: 120px;
                    padding: 0;
                }

                button,
                span
                {
                    text-align: center;
                    color: var(--clr-dark-state-gray);
                    font-size: 24px;
                    line-height: 32px;
                    width: 100%;

                    @media screen and (max-width: 768px) {
                        font-size: 20px;
                        line-height: 28px;
                    }
                    
                    @media screen and (max-width: 480px) {
                        font-size: 18px;
                        line-height: 28px;
                    }
                }

                button
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    line-height: 32px;

                    @media screen and (max-width: 768px) {
                        font-size: 22px;
                        line-height: 28px;
                    }
                    
                    @media screen and (max-width: 480px) {
                        font-size: 22px;
                        line-height: 28px;
                    }
                }
            }

            .quantity
            {
                font-size: 16px;
                line-height: 24px;
                &.more
                {
                    color: green;
                }

                &.less
                {
                    color: crimson;
                }
            }
        }
    }

    .info-price
    {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 30px;
        line-height: 36px;

        @media screen and (max-width: 768px) {
            font-size: 24px;
            line-height: 32px;
        }
        
        @media screen and (max-width: 480px) {
            font-size: 20px;
            line-height: 28px;
        }

        .price-cash
        {
            display: flex;
            align-items: center;
            gap: 20px;

            .cash-price
            {
                color: var(--clr-gray-3);
                text-decoration: line-through;
                font-size: 20px;
                line-height: 28px;

                @media screen and (max-width: 768px) {
                    font-size: 18px;
                    line-height: 28px;
                }
                
                @media screen and (max-width: 480px) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            .cash-title
            {
                background-color: var(--clr-orange);
                color: var(--clr-white);
                padding: 5px 10px;
                border-radius: 10px;
                overflow: hidden;
                font-size: 18px;
                line-height: 26px;

                @media screen and (max-width: 768px) {
                    font-size: 18px;
                    line-height: 28px;
                }
                
                @media screen and (max-width: 480px) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }

        }

    }

    .info-add-cart
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @media screen and (max-width: 953px) {
            flex-direction: column;
        }

        @media screen and (max-width: 768px) {
            flex-direction: row;
            gap: 15px;
        }
        
        @media screen and (max-width: 480px) {
            flex-direction: column;
            gap: 20px;
        }

        button
        {
            text-align: center;
            font-size: 20px;
            line-height: 28px;
            border-radius: 10px;
            padding: 18px 0;
            width: 100%;

            @media screen and (max-width: 768px) {
                font-size: 18px;
                line-height: 28px;
            }
            
            @media screen and (max-width: 480px) {
                font-size: 16px;
                line-height: 24px;
            }
        }

        .fill
        {
            background-color: var(--clr-orange);
            border: 2px solid var(--clr-orange);
            color: var(--clr-white);
        }

        .stroke
        {
            color: var(--clr-orange);
            background-color: var(--clr-white);
            border: 2px solid var(--clr-orange);
        }
    }
}