.footer
{
    padding: 20px 0;

    &-inner
    {
        display: flex;
        justify-content: space-between;
        gap: 40px;

    }

    &__item
    {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2
        {
            font-weight: 700;
            font-size: 18px;
        }

        a
        {
            img
            {
                max-width: 144px;
            }
        }

        .footer-links
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;

            &__icon
            {
                font-size: 24px;
                line-height: 32px;
            }
        }
    }
}