.product-view
{
    display: flex;
    align-items: center;
    gap: 8px;

    &__rating
    {
        display: flex;
        align-items: center;
        gap: 2px;

        .icon_star
        {
            font-size: 16px;
            line-height: 24px;
            color: var(--clr-orange);
        }

        .view-count
        {
            color: var(--clr-gray-3);

            font-size: 16px;
            line-height: 24px;
                
            @media screen and (max-width: 768px) {
                font-size: 14px;
                line-height: 20px;
            }

            @media screen and (max-width: 480px) {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }

    &__review
    {
        color: var(--clr-gray-3);
        font-size: 16px;
        line-height: 24px;
            
        @media screen and (max-width: 768px) {
            font-size: 14px;
            line-height: 20px;
        }

        @media screen and (max-width: 480px) {
            font-size: 12px;
            line-height: 16px;
        }
    }
}