.product-view
{
    display: flex;
    align-items: center;
    gap: 8px;

    &__rating
    {
        display: flex;
        align-items: center;
        gap: 2px;

        .icon_star
        {
            font-size: 15px;
            color: var(--clr-orange);
        }

        span
        {
            color: var(--clr-gray-3);
            font-size: 15px;
            line-height: 21px;
        }
    }

    &__review
    {
        font-size: 15px;
        line-height: 21px;
        color: var(--clr-gray-3);
    }
}