.section-profile
{
    padding: 20px 0;

    .profile-block
    {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        gap: 25px;

        .profile-head
        {
            display: none;

            @media screen and (max-width: 768px) {
                display: block;
            }
        }

        .profile-foot
        {
            display: block;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }
        
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        
    }
}