.form-container
{
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--clr-white);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
    max-width: 384px;
    width: 100%;

    @media screen and (max-width: 480px) {
        max-width: 350px;
    }

    .form-logo
    {
        display: flex;
        justify-content: center;
        padding: 20px;

        @media screen and (max-width: 480px) {
            padding: 10px;
        }
        

        img
        {
            max-width: 100px;
            width: 100%;
            @media screen and (max-width: 480px) {
                max-width: 70px;
            }
        }
    }

    .form-block
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        &.sign-in
        {
            gap: 40px;
        }
        
        .form-items
        {
            padding: 8px 0;
            width: 100%;
        }

        .form-submit
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .form-bottom
    {
        display: flex;
        justify-content: center;
        padding: 20px 0;
        overflow: hidden;

        &.sign-on
        {
            gap: 8px;
        }

        .link-sign-on
        {
            color: var(--clr-royal-blue);
        }

        .link-sign-in
        {
            width: 100%;
            padding: 8px 20px;
            text-align: center;
            background-color: var(--clr-black);
            color: var(--clr-white);
            transition: filter 150ms;

            &:hover
            {
                filter: brightness(1.2);
            }
        }

        .with-email
        {
            width: 100%;
            padding: 8px 20px;
            background-color: var(--clr-orange);
            text-transform: uppercase;
            color: var(--clr-white);
            transition: filter 150ms;

            &:hover
            {
                filter: brightness(1.2);
            }
        }
    }
}