.section-products
{
    padding-bottom: 20px;

    .products__top
    {
        padding: 20px 0;

        h1
        {
            display: flex;
            font-size: 30px;
            line-height: 42px;
            font-weight: bold;
            color: var(--clr-dark-state-gray);
            
            gap: 20px;
            
            .link
            {
                // text-2xl flex items-end gap-2
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                gap: 5px;
                
                span
                {
                    color: var(--clr-dark-state-gray);
                }
            }
            
            .icon
            {
                color: var(--clr-dark-state-gray);
                height: 100%;
                font-size: 40px;
            }
        }
    } 
        
        .products__centre
    {
        // py-5 grid gap-x-2 sm:gap-x-5 gap-y-14 grid-cols-2 sm:grid-cols-3 md:grid-cols-4
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .products__bottom
    {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .products-more
        {
            margin: 0 auto;
            background-color: var(--clr-gray-2-5);
            padding: 16px 40px;
            max-width: 500px;
            text-align: center;
            width: 100%;
            border-radius: 10px;
            transition: background 150ms;

            &:hover
            {
                background-color: var(--clr-gray-2-6);
            }
        }
    }
}
