.section-products
{
    padding-bottom: 20px;
    min-height: 50vh;

    .not-found
    {
        text-align: center;
        font-size: 64px;
        color: var(--clr-dark-state-gray);
    }

    .products__top
    {
        padding: 20px 0;
    } 
        
    .products__centre
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
        }

        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 480px) {
            grid-template-columns: 1fr;
            gap: 25px;
        }
    }

    .products__bottom
    {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .skeleton-more
        {
            max-width: 500px;
        }

        .products-more
        {
            margin: 0 auto;
            background-color: var(--clr-gray-2-5);
            padding: 16px 40px;
            max-width: 500px;
            text-align: center;
            width: 100%;
            border-radius: 10px;
            transition: background 150ms linear;

            &:hover
            {
                background-color: var(--clr-gray-2-6);
            }
        }
    }
}
