.section-products
{
    padding-bottom: 20px;
    min-height: 100vh;

    .not-found
    {
        text-align: center;
        font-size: 64px;
        color: var(--clr-dark-state-gray);
    }

    .products__top
    {
        padding: 20px 0;
    } 
        
    .products__centre
    {
        // py-5 grid gap-x-2 sm:gap-x-5 gap-y-14 grid-cols-2 sm:grid-cols-3 md:grid-cols-4
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .products__bottom
    {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .products-more
        {
            margin: 0 auto;
            background-color: var(--clr-gray-2-5);
            padding: 16px 40px;
            max-width: 500px;
            text-align: center;
            width: 100%;
            border-radius: 10px;
            transition: background 150ms;

            &:hover
            {
                background-color: var(--clr-gray-2-6);
            }
        }
    }
}
